a {
    font-size: 15px; text-decoration: none; color: blueviolet
}

a:hover {
    font-size: 20dp;
}

.name {
    font-weight: bold;
    font-size: 20px;
}
.title {
    color: rgb(244, 101, 201);
    font-weight: bold;
}